.feedback-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 360px;
    margin: 0 auto;
    margin-top: 30px;
}
.feedback-form textarea {
    resize: none;
    height: 80px;
}

.feedback-form input, 
.feedback-form textarea {
    width: 100%;
    font-size: 16px;
    padding: 8px 16px;
    border: 1px solid #808080;
    border-radius: 4px;
    transition: border-color 250ms ease-in;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
    border-color: black;
}

.feedback-form label {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: start;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.feedback-form button {
    margin-top: 16px;
    max-width: 95px;
    padding: 8px 16px;
    background-color: #4e75ff;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.feedback-form button:hover {
    background-color: #6c8cff;
}